body {
	font-family: monospace;
}
.dropdown{
	padding: 20px;
	display: inline-block;
}
.dropdown button{
	background-color: pink;
	color: white;
	cursor: pointer;
	padding: 10px 15px;
	border: none;
}
.dropdown a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 10px 15px;
}
.dropdown .content{
	display: none;
	position: absolute;
	background-color: grey;
	min-width: 100px;
	box-shadow: 2px 2px 5px black;
}
.dropdown:hover .content{
	display: block;
}
.dropdown:hover button{
	background-color: pink;
	color: gray;
}
.dropdown a:hover{
	background-color: pink;
}