body {
	padding: 20px;
	align-items: center;
	align-content: center;
	display: flex;
}
table {
	width: 100%;
	border-collapse: collapse;
}
td {
	border: 1px solid black;
	font-size: large;
	font-family: monospace;
	font-weight: 100;
	font-style: oblique;
	padding: 20px;
}
#box1 {
	background-color: yellowgreen;
}
#box2 {
	background-color: cadetblue;
}